Makefile.in
Makefile
configure
autom4te.cache
aclocal.m4
lt~obsolete.m4
ltversion.m4
ltsugar.m4
ltoptions.m4
libtool.m4
config.h.in
config.h.in~
config.h
module.deps
filelist.am
a1conf.h.in
a1conf.h.in~
missing
ltmain.sh
install-sh
depcomp
config.sub
config.guess
.deps
.libs
*.log
stamp*
build*/
*.f
*.f03
fconfig.h
config.status
pfft.pc
libtool
*~
*.o
*.a
*.lo
*.la
.directory

/include/
/lib/
